Django==1.6.4
MySQL-python==1.2.5
Unidecode==0.04.14
django-email-extras==0.2
django-forms-builder==0.10
django-matrix-field==0.2
future==0.11.4
python-gnupg==0.3.6
sphinx-me==0.2.1
wsgiref==0.1.2
xlwt==0.7.5
django-bootstrap3==4.4.0
boto==2.30.0
# installed while deploying to Heroku using https://devcenter.heroku.com/articles/getting-started-with-django#start-a-django-app-inside-a-virtualenv
dj-database-url==0.3.0
dj-static==0.0.5
gunicorn==18.0
pystache==0.5.4
static==1.0.2
django-enumfield==1.1
six==1.7.3

# captcha
django-recaptcha==1.0
