{% if error_message %}
    <h3>{{ error_message }}</h3>
{% else %}

{% if application %}
    <h3>{{ application.form }}</h3>
{% else %}
    <h3>No Application Filed!</h3>
{% endif %}

{% if applications_entry_list %}
    {% for entry in applications_entry_list %}
        <ul>
            <li>Entry Id: {{entry.field_id}}</li>
            <li>Entry Value: {{entry.value}}</li>
        </ul>
    {% endfor %}
{% else %}
    <h3>Application form has no entry!</h3>
{% endif %}

{% if fields %}
    {% for x in fields %}
        <ul>
            <li>field label: {{x.label}}</li>
        </ul>
    {% endfor %}
{% endif %}

{% endif %}