{% extends "snapp/base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="application">
                    <h2>{{ track.name }}</h2>
                    {% if not application %}
                        <p>Application Status: <b>UNSUBMITTED</b></p>
                    {% else %}
                        <p>Application Status: <b>{{ application.status_label }}</b></p>
                    {% endif %}


                    {% if not application %}
                        <p>To start the application process for the "{{ track.name }}" track, please fill out the
                            ​first-round application by clicking below.</p>
                        <div class="spacer"/>
                        <a class="btn btn-primary"
                           href="{{ track.form.get_absolute_url }}?track_id={{ track.id }}">First Round Application</a>
                        <div class="spacer"/>
                        <p>Once applications are submitted, the Social Innovation Forum staff will sit down with our
                            track sponsors to discuss each applicant and select those that will move on to the second
                            round. We will be looking to see that your program or organization's work is in line with at
                            least one of our social issue tracks and that its current stage of development is
                            appropriate for our process. ​ Then​, we will issue invitations for select of applicants to
                            submit second-round materials​. At that time, we will offer non-advancing applicants some
                            brief feedback on their applications ​.​For more detailed information, please visit
                            <a href="http://www.rootcause.org/social-innovation-forum">www.rootcause.org/social-innovation-forum</a>
                            or contact us at
                            <a href="mailto:socialinnovationforum@rootcause.org">socialinnovationforum@rootcause.org</a>
                            .</p>
                    {% elif application.status == 0 %}
                        <p>Thank you for submitting your first-round application! Over the next few weeks, Social
                            Innovation Forum staff will sit down with our track sponsors to discuss each applicant and
                            select those that will move on to the second round. We will be looking to see that your
                            program or organization's work is in line with at least one of our social issue tracks and
                            that its current stage of development is appropriate for our process. Then, we will issue
                            invitations for select of applicants to submit second-round materials. At that time, we will
                            offer non-advancing applicants some brief feedback on their applications.​ For more detailed
                            information, please visit <a href="http://www.rootcause.org/social-innovation-forum">www.rootcause.org/social-innovation-forum</a>
                            or contact us at
                            <a href="mailto:socialinnovationforum@rootcause.org">socialinnovationforum@rootcause.org</a>
                        </p>
                        <div class="spacer"/>
                        <a class="btn btn-primary" href="/submitted_form_entries/{{ application.phase1_entry.id }}">View
                            Submitted First Round Application</a>
                    {% elif application.status == 1 %}
                        <p>​Congratulations ​for being selected as a semifinalist for the 201​4-201​5 Social
                            Innovation Forum! We and our track sponsors are pleased to invite you to join us for the
                            second​-round of our application process.

                            To access the second-round application,
                            ​ please click the link below. You may also view your completed first-round application.
                        </p>
                        <div class="spacer"/>
                        <a class="btn btn-primary"
                           href="{{ track.form_phase2.get_absolute_url }}?track_id={{ track.id }}">Second Round
                            Application</a>

                        <a class="btn btn-primary" href="/submitted_form_entries/{{ application.phase1_entry.id }}">View
                            Submitted First Round Application</a>
                    {% elif application.status == 2 %}
                        <p>Thank you for your application to the 2014-2015 Social Innovation Forum. Unfortunately, we
                            are unable to advance your application to the second round. We hope that you will stay in
                            touch with the Social Innovation Forum and consider applying again sometime in the future.
                            For any questions or to receive written feedback on your application, please contact
                            <a href="mailto:socialinnovationforum@rootcause.org">socialinnovationforum@rootcause.org</a>.
                        </p>
                    {% elif application.status == 3 %}
                        <p>Thank you for submitting your second-round application! In the coming weeks, we will issue
                            invitations for select of applicants to join us for finalist in-person interviews. At that
                            time, we will offer non-advancing applicants written feedback on their applications.​ For
                            more information, please contact us at <a href="mailto:socialinnovationforum@rootcause.org">socialinnovationforum@rootcause.org</a>.
                        </p>
                        <a class="btn btn-primary" href="/submitted_form_entries/{{ application.phase1_entry.id }}">View
                            Submitted First Round Application</a>
                        <a class="btn btn-primary" href="/submitted_form_entries/{{ application.phase2_entry.id }}">View
                            Submitted Second Round Application</a>
                    {% elif application.status == 4 %}
                        <p>​Congratulations for being selected as a finalist for the 2014-2015 Social Innovation Forum.
                            All finalist interviews will take place at the Root Cause offices in downtown Boston. For
                            details, please contact <a href="mailto:socialinnovationforum@rootcause.org">socialinnovationforum@rootcause.org</a>.
                            ​</p>
                    {% elif application.status == 5 %}
                        <p>Thank you for your application to the 2014-2015 Social Innovation Forum. Unfortunately, we
                            are unable to advance your application to the finalist round. We hope that you will stay in
                            touch with the Social Innovation Forum and consider applying again sometime in the future.
                            For any questions or to receive written feedback on your application, please contact
                            <a href="mailto:socialinnovationforum@rootcause.org">socialinnovationforum@rootcause.org</a>.
                        </p>
                    {% else %}
                        <p>Invalid application state. Please contact us at 123-456-7890 for support</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
