<!DOCTYPE html>
{% load bootstrap3 %}
{% load staticfiles %}
{% load snapp_tags %}
<html>

<head lang="en">
    <link rel="stylesheet" href="{% static "rootcause/css/snapp.css" %}" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <br><br><br>
    <title>Root Cause</title>
    {% block head %}{% endblock %}
</head>

<script>

    $(document).ready(function () {
        $(".alert").hide();
    });


</script>
<body>


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid bg-warning">
        {#        <div class="row"></div>#}
        {#         <div.col-xs-4></div.col-xs-4>#}

        <div>
            <div id="logo-container"><img src="{% static "rootcause/images/rootcauselogo.png" %}" alt="rootcauselogo"/>
            </div>
            <div id="inno-title">Social Innovation Forum Online Portal</div>
        </div>
        <div class="collapse navbar-collapse col-xs-4">
            <ul class="nav navbar-nav">
                {#                <li class="active"><a href="/">Welcome!</a></li>#}
                <li><a href="/">Welcome!</a></li>
                {% if user.is_authenticated %}
                    {% if tracks %}
                        <li class="dropdown" id="apply">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Apply<b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                {% for track in tracks %}
                                    <li role="presentation">
                                        <a href="/track/{{ track.id }}/application/">{{ track.name }}</a>
{#                                        {% if track.id in tracks_with_form_entries %}#}
{#                                            <a href="/submitted_form_entries/{{ tracks_with_form_entries|get_item:track.id }}"#}
{#                                               role="menuitem">{{ track.name }} (Submitted)</a>#}
{#                                        {% else %}#}
{#                                            <a href="{{ track.form.get_absolute_url }}?track_id={{ track.id }}">{{ track.name }}</a>#}
                                            {#                                    <a href="/submitted_form_entries/{{ form_entry.id }}" role="menuitem" tabindex="-1" >View submitted application</a>#}
{#                                        {% endif %}#}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    {#                    <li class="dropdown">#}
                    {#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Evaluate<b class="caret"></b></a>#}
                    {#                        <ul class="dropdown-menu list-group" role="menu" aria-labelledby="dropdownMenu2">#}
                    {#                            {% if user.is_superuser %}#}
                    {#                                {% if tracks %}#}
                    {#                                    {% for track in tracks %}#}
                    {#                                        <li role="presentation">#}
                    {#                                            {% if track.id in tracks_with_form_entries %}#}
                    {#                                                <a href="/submitted_form_entries/{{ tracks_with_form_entries|get_item:track.id }}"#}
                    {#                                                   role="menuitem">{{ track.name }} (Submitted)</a>#}
                    {#                                                <a href="/submitted_form_entries/track{{ track.id }}" role="menuitem" tabindex="-1" >View Submitted Forms For Track: {{ track.name }}</a>#}
                    {#                                            {% else %}#}
                    {#                                                <a href="#" role="menuitem" tabindex="-1">Blah</a>#}
                    {#                                                <a href="{{ track.form.get_absolute_url }}?track_id={{ track.id }}">{{ track.name }}</a>#}
                    {#                                                                                    <a href="/submitted_form_entries/{{ form_entry.id }}" role="menuitem" tabindex="-1" >Tracks without submitted applications</a>#}
                    {#                                            {% endif %}#}
                    {#                                        </li>#}
                    {#                                    {% endfor %}#}
                    {#                                    <li><a href="#" role="menuitem" tabindex="-1" >Track plc 1</a></li>#}
                    {#                                    <li class="divider"></li>#}
                    {#                                    <li><a href="/evaluation_dashboard" role="menuitem" tabindex="-1" >View All Tracks</a></li>#}
                    {#                                {% else %}#}
                    {#                                    <li><span>No Track To Show</span></li>#}
                    {#                                {% endif %}#}
                    {#                            {% endif %}#}
                    {#                        </ul>#}
                    {#                    </li>#}
{#                    {% if tracks and user.is_superuser %}#}
{#                        <li class="dropdown">#}
{#                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">View Submissions<b#}
{#                                    class="caret"></b></a>#}
{#                            <ul class="dropdown-menu list-group" role="menu" aria-labelledby="dropdownMenu2">#}
{#                                {% if user.is_superuser %}#}
{#                                    {% if tracks %}#}
                                        {#                                        {% for track in tracks %}#}
{#                                        <li><a href="/evaluation_dashboard" role="menuitem" tabindex="-1">View All#}
{#                                            Submissions</a></li>#}
{#                                    {% else %}#}
{#                                        <li><span>No Track To Show</span></li>#}
{#                                    {% endif %}#}
{#                                {% endif %}#}
{#                            </ul>#}
{#                        </li>#}
{#                    {% endif %}#}
                    {% if tracks and user.is_superuser %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">View Applications<b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu list-group" role="menu" aria-labelledby="dropdownMenu2">
                                {% if user.is_superuser %}
                                        <li><a href="/admin_application_dashboard" role="menuitem" tabindex="-1">View All
                                            Applications</a></li>

                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                        <li><a href="/accounts/logout">Logout</a></li>

                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                            <li><a href="/accounts/login" role="menuitem" tabindex="-1">I have an account!</a></li>
                            <li><a href="/accounts/register" role="menuitem" tabindex="-1">Create new account</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if user.is_superuser %}
                    <li><a href="/admin">Admin</a>
                {% endif %}
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">FAQ</a>
                    <ul class="dropdown-menu list-group" role="menu" aria-labelledby="dropdownMenu3">
                        <li><a href="/faq" role="menuitem" tabindex="-1">General FAQ</a></li>
                        <li><a href="/impactentrepreneurfaq">Impact Entrepreneur FAQ</a> </li>
                    </ul>
                </li>
                <li><p><span class="alert alert-success fade in"></span></p></li>
            </ul>
        </div>
    </div>
</nav>

</div>


<div id="content" class="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
