<!DOCTYPE html>
{% load bootstrap3 %}
{% load staticfiles %}
<html>

<head lang="en">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <br><br><br>
    <title>Root Cause</title>
    <script type="text/javascript">
        function showAlertTemporarily() {
            $(".alert").text("Draft saved.");
            $(".alert").show();
            setTimeout(function () {
                $(".alert").fadeOut();
            }, 2000);
        }
    </script>

    {% block head %}{% endblock %}
</head>

<script>

$(document).ready(function () {
    if (localStorage && localStorage.key(0)) {
        //there should really be just one entry in localStorage which will be our draft application
        //key is an absolute path to the draft application
        var pathToDraftApplication = localStorage.key(0);

        var linktToDraftApplication = document.createElement('a');
        var linkTextToDraftApplication = document.createTextNode("Continue Editing application");
        linktToDraftApplication.appendChild(linkTextToDraftApplication);
        linktToDraftApplication.href = pathToDraftApplication;
        var childElementToDraft = document.createElement('li');
        childElementToDraft.appendChild(linktToDraftApplication)

        //remove all links from the Apply dropdown and add the new Continue link
        $("#apply ul").html("").append(childElementToDraft);
    }
});



</script>
<body>
<img src="{% static "snapp/images/rootcauselogo.png" %}" alt="rootcauselogo">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid bg-warning">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Welcome!</a></li>
                {% if user.is_authenticated %}
                    <li class="dropdown" id="apply">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Apply<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                            {% if form_entry %}
                                {% if form_entry.submitted %}
                                    <li role="presentation">
                                        <a href="/submitted_form_entries/{{ form_entry.id }}" role="menuitem" tabindex="-1" >View submitted application</a>
                                    </li>
                                {% endif %}
                            {% else %}
                                {% if forms %}
                                    {% for form in forms %}
                                        <li role="presentation">
                                            <a href="{{ form.get_absolute_url }}" role="menuitem" tabindex="-1" >{{ form.title }}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Evaluate<b class="caret"></b></a>
                        <ul class="dropdown-menu list-group" role="menu" aria-labelledby="dropdownMenu2">
                            <li><a href="#" role="menuitem" tabindex="-1" >Track 1</a></li>
                            <li><a href="#" role="menuitem" tabindex="-1" >Track 2</a></li>
                            <li><a href="#" role="menuitem" tabindex="-1" >Track 3</a></li>
                            {% if user.is_superuser %}
                                <li class="divider"></li>
                                <li><a href="/evaluation_dashboard" role="menuitem" tabindex="-1" >View All Tracks</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li><a href="/accounts/logout">Logout</a></li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                            <li><a href="/accounts/login" role="menuitem" tabindex="-1">I have an account!</a></li>
                            <li><a href="/accounts/register" role="menuitem" tabindex="-1">Create new account</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if user.is_superuser %}
                    <li><a href="/admin">Admin</a>
                {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
