{% extends "snapp/base.html" %}
{% block content %}
    <div class="faq">
        <h1>Frequently Asked Questions</h1>

        <div class="q">
            <div class="title">IS IT POSSIBLE TO APPLY AS A PROGRAM OR INITIATIVE WITHIN AN ORGANIZATION?</div>
            <p>Yes. Any program or initiative with an operating budget between $100,000 and $2 million may apply. In
                these
                cases, the program director as well as a representative from the parent organization must be committed
                to
                participating in Social Innovation Forum meetings and events. In addition, the entire application must
                refer to the
                program, not the parent organization (budget numbers, performance metrics, etc.). Please note that there
                are
                different requirements for the “Anything Goes” track. Please see “Anything Goes” track descriptions for
                details.</p>
        </div>

        <div class="q">
            <div class="title">IF APPLYING TO MORE THAN ONE SOCIAL ISSUE TRACK, MUST AN ORGANIZATION SUBMIT MORE THAN
                ONE APPLICATION?
            </div>

            <p>
                <b>In general, yes.</b> Each track has its own set of evaluators who are experts on that particular
                social
                issue. While
                a fair amount of information may be copied and pasted from one application to the next, we ask that
                multiple-track applicants tailor their answers to some of the more thoughtful, paragraph-response
                questions to
                demonstrate their “fit” with each of those tracks. Our evaluators like to see that applicants have
                thought about how
                their organizations address specific social issues and what makes them innovators in those spaces. With
                two sustainability tracks this year, we expect that some groups will apply to both, although we
                encourage
                you to read the track paragraphs carefully and to apply for the track where you feel your organization
                is the
                strongest fit.

                <b>For the “Anything Goes” track, no.</b> Organizations that apply for other social issue tracks will
                not be
                considered
                for

                the “Anything Goes” track.
            </p>
        </div>

        <div class="q">
            <div class="title"> WHAT IS THE APPLICATION PROCESS FOR THOSE WHO APPLIED DURING A PREVIOUS CYCLE OF THE
                SOCIAL INNOVATION FORUM AND WERE NOT SELECTED?
            </div>


            <p>
                The application itself changes from year to year. So that we have consistent information across
                applicants,

                we insist that all applicants for this year’s cycle complete a 2014–2015 application. However, it is
                sometimes

                possible to copy and paste responses from a previous application into corresponding sections of the
                current
                year’s

                application. To assist you, we are happy to provide copies of your past application(s) upon request.
            </p>
        </div>
        <div class="q">
            <div class="title">
                WHAT ARE OUTPUTS AND OUTCOMES?
            </div>
            <p>
                <b>Outputs</b> are the direct, short-term results of an organization’s activities. Outputs are often
                helpful
                indicators
                of the

                size and/or scope of an organization’s work.
                <br/>
                For example:</p>
            <ul>
                <li>Number of participants or beneficiaries</li>
                <li>Number of volunteers</li>
                <li>Number of programs offered</li>
                <li>Percentage of participants completing the program</li>
                <li>Average number of program hours per participant</li>
            </ul>

            <p>
                <b>Outcomes</b> are units of measurement that assess an organization’s long-term results, or progress in
                addressing its

                target social problem.
                <br/>
                For example:
            </p>
            <ul>
                <li>Percentage of participants demonstrating improved conflict resolution skills</li>

                <li>Percentage of participants who graduate from high school</li>

                <li>Percentage of participants employed upon program completion</li>
            </ul>

            <p>
                <b>We recognize that measuring outcomes can be challenging and that many organizations are still in the
                    early

                    stages of developing tools and processes to gather information. For this section of the application,
                    you
                    may
                    list

                    measurements that the leadership team would like to use to measure outcomes in the future.
                </b>
            </p>
        </div>

        <div class="q">
            <div class="title">
                I AM HAVING TROUBLE WITH MY APPLICATION ONLINE. WHAT AM I DOING WRONG?
            </div>
            <p>

                Before filling out the online application, we recommend writing the longer responses in Microsoft Word
                or a

                similar program and using the “Word Count” feature to check that your responses do not exceed our
                character

                limit suggestions (which do include spaces). Before submitting your application, also check that email
                addresses,

                phone numbers, and other important fields have been input accurately. The Social Innovation Forum staff
                is

                available to help you through all sorts of technological challenges, so please do not hesitate to call
                or email
                us as

                you run into issues! You can reach us at socialinnovationforum@rootcause.org or 617.649.1518.
            </p>
        </div>
{% endblock %}