{% extends "snapp/base.html" %}
{% block content %}
    <div class="faq">
        <h1>Impact Entrepreneur Frequently Asked Questions</h1>

        <div class="q">
            <div class="title">MUST AN ORGANIZATION BE RECOMMENDED BY A MEMBER OF THE NOMINATION COMMITTEE IN ORDER TO APPLY?</div>
            <p>
                No, not at all! Organizations are welcome to nominate themselves via our <a href="https://www.tfaforms.com/289942">online nomination form</a>. Please note that the online nomination form is not a first-round application. You will receive an email with a link to the application within 24 hours of the time your nomination was received. We make no distinction between applicants that self-nominate and applicants that are nominated by others.
            </p>
        </div>

        <div class="q">
            <div class="title">WHAT IS THE APPLICATION PROCESS FOR THOSE WHO APPLIED DURING A PREVIOUS CYCLE OF THE SOCIAL INNOVATION FORUM AND WERE NOT SELECTED?</div>
            <p>
                The application itself changes from year to year. So that we have consistent information across applicants, we insist that all applicants for this year’s cycle complete a 2014–2015 application. However, it is often possible to copy and paste responses from a previous application into corresponding sections of the current year’s application. To assist you, we are happy to provide copies of your past application(s) upon request.
            </p>
        </div>

        <div class="q">
            <div class="title">I DO NOT HAVE ALL OF THE FINANCIAL INFORMATION REQUESTED IN THE APPLICATION. CAN I STILL APPLY?</div>
            <p>
                The application requests applicants to upload a balance sheet, cash flow statement, and income statement. Ideally, we would like five years of historical data, the current year’s data, and two years of projections. However, you do not need complete financial information in order to be considered for the Impact Investing Accelerator. If you do not have the above stated documents, please upload any other relevant financial information.
            </p>
            <p>
                Please note: If the applicant is a program of an organization, you should provide information for the applicant social enterprise, not the parent organization.
            </p>
        </div>

        <div class="q">
            <div class="title">I AM HAVING TROUBLE WITH MY APPLICATION ONLINE. WHAT AM I DOING WRONG?</div>
            <p>
                Before filling out the online application, we recommend writing the longer responses in Microsoft Word or a similar program and using the “Word Count” feature to check that your responses do not exceed our character limit suggestions (which do include spaces). Before submitting your application, also check that email addresses, phone numbers, and other important fields have been input accurately.
            </p>
            <p>
                Please note: Drafts of your application will save locally so we encourage you to avoid clearing your cache or cookies while filling out the application. Social Innovation Forum staff is available to help you through all sorts of technological challenges, so please do not hesitate to call or email us as you run into issues! You can reach us at <a href="mailto:socialinnovationforum@rootcause.org">socialinnovationforum@rootcause.org</a> or 617.649.1518.
            </p>
        </div>

    </div>
{% endblock %}