{% extends "snapp/base.html" %}
<!--
    <h2>Welcome to the social innovation forum's online portal!</h2>
    {% if user.is_authenticated %}
        <h2>Hello, {{ user.username }}</h2>
    {% else %}
        <div>To get started, please create an account or <a href="/accounts/login/">log in</a>.</div>
    {% endif %}
-->

{% block content %}
{% if user.is_authenticated %}
    <h3 class="rootCauseOrangeBold">Social Innovation Forum</h3>

    <h5 class="rootCauseOrange">ACCEPTING APPLICATIONS NOW THROUGH TUESDAY, JULY 15, 2014</h5>

    <p>
        Root Cause believes that social innovation is critical to ensure that our public and private resources are leveraged in the most effective ways to address our nation’s social problems.
        Yet, it is often difficult for emerging innovations to receive the recognition and support they need to develop and spread their impact.
        <strong>Root Cause’s Social Innovation Forum provides a unique opportunity for innovative nonprofits and social enterprises to gain visibility, expand their networks, and build capacity.</strong>
    </p>

    <p>
        For our 2014–2015 program, we will select one nonprofit Social Innovator for each of our six <a href="http://www.rootcause.org/sif-social-issue-tracks">“social issue tracks.”</a>
        A second accelerator with its own unique application process and timeline, called “Impact Investing: Connecting Social Enterprises to Capital,” will engage a small cohort of social enterprises.
        This accelerator will launch in late July. For more information, please visit <a href="http://www.rootcause.org/sif-become-an-impact-entrepreneur">www.rootcause.org/sif-become-an-impact-entrepreneur</a>
    </p>

    <div class="message">
        <div class="title">
            <a href="http://www.rootcause.org/sif-social-issue-tracks">
                2014–2015 SOCIAL ISSUE TRACKS AND SPONSORING PARTNERS
            </a>
        </div>
        <div>
            Lead Sponsors: The Margaret Stewart Lindsay Foundation and Fiduciary Trust Company
        </div>
    </div>


    <div class="track-information">
        <div class="track-title">
            <a href="http://www.rootcause.org/sif-social-issue-tracks#AnythingGoes">
                Anything Goes: Innovative, Effective, and Sustainable Approaches to Our Region’s Toughest Social Issues
            </a>
        </div>
        <div class="track-sponsors">
            Track Sponsor: Boston Open Impact
        </div>
    </div>

    <div class="track-information">
        <div class="track-title">
            <a href="http://www.rootcause.org/sif-social-issue-tracks#ExpandingAccess">
                Expanding Access to the Arts: Artistic and Cultural Enrichment for Low-Income Communities in the Greater Boston Area
            </a>
        </div>
        <div class="track-sponsors">
            Track Sponsor: Highland Street Foundation
        </div>
    </div>

    <div class="track-information">
        <div class="track-title">
            <a href="http://www.rootcause.org/sif-social-issue-tracks#Pathways">
                Pathways to Education, Training, and Employment for “Opportunity Youth”
            </a>
        </div>
        <div class="track-sponsors">
            Track Sponsor: State Street Foundation
        </div>
    </div>

    <div class="track-information">
        <div class="track-title">
            <a href="http://www.rootcause.org/sif-social-issue-tracks#Supporting">
                Supporting Successful Transitions to Adulthood for Youth with Intellectual and Developmental Disabilities
            </a>
        </div>
        <div class="track-sponsors">
            Track Sponsor: John W. Alden Trust
        </div>
    </div>



    <div class="track-callout">
        <div class="title">
            SUSTAINABILITY
        </div>
        <div class="message">
            Please note that due to the strong interest in this issue area, we will have two sustainability-focused tracks for the 2014-2015 program year.
        </div>
    </div>


    <div class="track-information">
        <div class="track-title">
            <a href="http://www.rootcause.org/sif-social-issue-tracks#Building">
                Building Healthy and Sustainable Communities for All
            </a>
        </div>
        <div class="track-sponsors">
            Track Sponsor: Osprey Foundation
        </div>
    </div>


    <div class="track-information">
        <div class="track-title">
            <a href="http://www.rootcause.org/sif-social-issue-tracks#Urban">
                Urban Sustainability: Greener and More Resilient Cities
            </a>
        </div>
        <div class="track-sponsors">
            Track Sponsor: Schrafft Charitable Trust
        </div>
    </div>




    <div class="footnote">
        <h5 align="center">A SECOND ACCELERATOR TO LAUNCH IN LATE JULY</h5>

        <div class="track-information">
            <div class="track-title">
                Impact Investing: Connecting Social Enterprises to Capital
            </div>
            <div class="track-sponsors">
                Sponsor: The Devonshire Foundation
            </div>
        </div>

        <p>
            The Impact Investing accelerator is open to social enterprises with a strong business model and a mission-driven strategy.
            Please note that this accelerator has a unique application process and a different timeline than the nonprofit accelerator.
            For more information, please visit <a href="http://www.rootcause.org/sif-become-an-impact-entrepreneur">www.rootcause.org/sif-become-an-impact-entrepreneur</a>.
        </p>

    </div>




{% else %}
<h3 class="rootCauseOrangeBold">Welcome to the Social Innovation Forum's online portal!</h3>
<p align="center">To get started, please <a href="/accounts/register/">create an account</a> or <a href="/accounts/login/">log in</a>.</p>
{% endif %}
{% endblock %}
