<!DOCTYPE html>
{% load bootstrap3 %}
{% load staticfiles %}
{% load snapp_tags %}
<html>


<head lang="en">
    <link rel="stylesheet" href="{% static "rootcause/css/snapp_print.css" %}" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>Root Cause</title>

</head>

<script>


</script>
<body>
    <h2>{{ form_entry.form.title }}</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                {{ form_entry.form.description }}
            </div>
        </div>

        {% for fieldset in fieldsets.keys %}
            <fieldset>
                <legend class="form-legend">{{ fieldset }}</legend>
                {% for row in fieldsets|get_item:fieldset %}
                    <div class="row">
                        <div class="col-sm-3">
                            <div><b>{{ row.label }}</b></div>
                        </div>
                        <div class="col-sm-8">
                            <div class="answer printable"><p>{{ row.value }}</p></div>
                        </div>
                    </div>
                {% endfor %}
            </fieldset>
        {% endfor %}
        {% for row in rows %}
            <div class="row">
                <div class="col-sm-3">
                    <div><b>{{ row.label }}</b></div>
                </div>
                <div class="col-sm-8">
                    <div class="answer printable"><p>{{ row.value }}</p></div>
                </div>
            </div>
        {% endfor %}
    </div>

</body>
</html>