/* color: #db7b00; dark orange */
/* color: #fcf8e3; tan */
/* color: #8b8e00; dark green */

/* Base Page*/

div.content {
    padding-top: 70px;
    padding-left: 15px;
}

div.spacer {
    margin-top: 40px;
}

div.homePagecontent {
    padding-top: 70px;
    padding-left: 300px;
    width: 1200px;
}

/*.navbar-nav>li>p {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    } */

/*  ul.navbar-nav>li>a {
    color: #db7b00;
    } */

*:link {
    color: #db7b00;
}

*:visited {
    color: #8b8e00;
}

a:hover {
    text-decoration: underline;
    color: #db7b00 !important;
}

.usercolor {
    color: #db7b00;
}

.menucolor {
    color: #db7b00;
}

/* Login Page */

.error {
    color: #FF0000;
    font-weight: bold;
}

.errorlist {
    color: #FF0000;
    font-weight: bold;
}

h1.headcolor {
    color: #db7b00;
    padding-bottom: 30px;
}

dd.formspace {
    padding-bottom: 15px;
}

dt.button {
    padding-top: 10px;
}

dt.button:hover {
    color: #8b8e00;
}

p.login2 {
    padding-top: 20px;
}

.rchover {
    text-align: left;
    width: 16px;
    position: relative;
}

.rctooltip {
    display: none;
    position: absolute;
    border-radius: 5px;
    padding-bottom: 5px;
    margin: 5px;
    top: -9px;
    left: 20px;
    width: 500px;
}

.rchover:hover .rctooltip {
    display: block;
    color: #db7b00;
}

div.track-information {
    margin-bottom: 15px;
}

div.track-information div.track-title {
    color: #8b8d09;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

div.track-information div.track-sponsors {
    text-align: center;
}

h4 {
    color: #8b8d09;
    text-align: center;
    font-size: 130%;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3.rootCauseOrangeBold {
    color: #df7a1c;
    text-align: center;
    font-size: 150%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

h5.rootCauseOrange {
    color: #df7a1c;
    font-weight: bold;
    text-align: center;
}

div.message {
    text-align: center;
    margin-bottom: 30px;
}

div.message div.title {
    color: #df7a1c;
    font-weight: bold;
    text-decoration: underline;
}

div.track-callout div.title {
    text-align: center;
    font-weight: bold;
}

div.track-callout div.message {
    text-align: center;
    font-style: italic;
}

div.footnote {
    border: 2px solid black;
    padding: 10px;
}

div.faq div.title {
    color: #df7a1c;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 4px;
}

div.faq p {
    width: 80%;
}

#logo-container {
    margin-top: 20px;
    width: 200px;
}

/* resize images */
#logo-container img {
    width: 100%;
    height: auto;
}

#inno-title {
    color: #8b8d09;
    font-size: 16px;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 4px;
}

.form-legend {
    font-size: 17px;
}

.form-label {
    font-size: 13px;
}

.fieldset-entries {
    margin-left: 20px;
}

.answer {
    padding: 15px 9px;
    margin-bottom: 14px;
    /*background-color: #fcf8e3;*/
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.answer.p {
    text-indent: 50px;
}

.answer.printable {
    padding: 1px 5px;
    margin-bottom: 1px;
    background-color: #fff3ca;
    border: 1px solid #e1e1e8;
    border-radius: 1px;
}

.control-label {
    text-align: left !important;
}
