<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}
<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">{% trans "Toggle Navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    
</div>
<div class="navbar-collapse collapse">
    {% search_form "all" %}
    {% page_menu "pages/menus/dropdown.html" %}
</div>
</div>
</div>

<div class="container">

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

<h1>{% block title %}{% endblock %}</h1>

<ul class="breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>

</div>

<div class="container">
<div class="row">

<div class="col-md-2 left">
    {% block left_panel %}
    <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
</div>

<div class="col-md-7 middle">
    <div class="row">
  <div class="col-md-2 col-md-offset-9">
    <!-- Button trigger modal -->
    <button class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal">
      Create New Application
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <!-- This is where you change the modal header -->
            <h4 class="modal-title" id="myModalLabel">Create a new application</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <!-- This is where you change the application types -->
                <button type="button" class="btn btn-warning">Social Innovator</button>
                <button type="button" class="btn btn-warning">Impact Entrepreneur</button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-center">Social Innovation Forum</h1>
    <h3 class="text-center">ACCEPTING APPLICATIONS NOW THROUGH TUESDAY, JULY 15, 2014</h3>
    <p>
      Root Cause believes that social innovation is critical to ensure that our public and private resources are leveraged in the most effective ways to address our nation’s social problems. Yet, it is often difficult for emerging innovations to receive the recognition and support they need to develop and spread their impact. <strong><em> Root Cause’s Social Innovation Forum provides a unique opportunity for innovative nonprofits and social enterprises to gain visibility, expand their networks, and build capacity. </em></strong>
    </p>
    <p>
      For our 2014–2015 program, we will select one nonprofit Social Innovator for each of six “social issue tracks.” A seventh track, called “Impact Investing,” will engage a small cohort of social enterprises. 
    </p>
    <br>
    <div class="well">
      <h2 class="text-center text-warning">
        <strong>
          2014–2015 SOCIAL ISSUE TRACKS AND SPONSORING PARTNERS
        </strong>
      </h2>
      <p class="text-center">
        Lead Sponsors: The Margaret Stewart Lindsay Foundation and Fiduciary Trust Company
      </p>
    
      <table class="table">
        <thead>
          <TR>
            <TH>Track</TH>
            <TH>Sponsor</TH>
          </TR>
        </thead>
        <tbody>
          <TR>
            <TD>
              Anything Goes: Innovative, Effective, and Sustainable Approaches to Our Region’s Toughest Social Issues
            </TD>
            <TD>
              Boston Open Impact
            </TD>
          </TR>
          <TR>
            <TD>
               Breaking Down Barriers to Effective Mental Health Services
            </TD>
            <TD>
                Bank of America Charitable Gift Fund – General Fund
            </TD>
          </TR>
          <TR>
            <TD>
              Expanding Opportunities and Improving Services for Veterans in Massachusetts
            </TD>
            <TD>
              Highland Street Foundation
            </TD>
          </TR>
          <TR>
            <TD>
              Sustainability in Our Communities: <em>Building Greener and Healthier Cities </em>
            </TD>
            <TD>
              Schrafft Charitable Trust
            </TD>
          </TR>
          <TR>
            <TD>
              Youth in Gateway Cities: Investing in Young People, Revitalizing Communities
            </TD>
            <TD>
              Amelia Peabody Foundation
            </TD>
          </TR>
          <TR>
            <TD>
              Impact Investing: Connecting Social Enterprises to Capital
            </TD>
            <TD>
              The Devonshire Foundation 
            </TD>
          </TR>
        </tbody>
      </table>
    </div>
</div>

<div class="col-md-3 right">
    {% nevercache %}
    {% include "includes/user_panel.html" %}
    {% endnevercache %}
    <div class="panel panel-default">
    <div class="panel-body">
    {% block right_panel %}
    {% ifinstalled mezzanine.twitter %}
    {% include "twitter/tweets.html" %}
    {% endifinstalled %}
    {% endblock %}
    </div>
    </div>
</div>

</div>
</div>

<footer>
<div class="container">
{% page_menu "pages/menus/footer.html" %}

<div class="row">
<p class="site-info text-center">
    {% trans "Powered by" %}
    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
    <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
    {% trans "and" %}
    <a href="http://www.djangoproject.com">Django</a>
    <span class="separator">|</span>
    {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
    {% ifinstalled mezzanine.mobile %}
    <span class="separator">|</span>
    <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
    {% endifinstalled %}
</p>
</div>
</div>
</footer>

{% include "includes/footer_scripts.html" %}

</body>
</html>
