{% extends "snapp/base.html" %}

{% block head %}
{% endblock %}
{% block content %}
    <script type="text/javascript">

        var localStoreKey = document.URL;
        function saveDraft() {
            var formData = $('#awesome :input').serializeArray();
            localStorage[localStoreKey] = JSON.stringify(formData);
            showAlertTemporarily();
        }

        var populateWithLocalData = function () {
            var draftData = JSON.parse(localStorage.getItem(localStoreKey));

            $('#awesome :input').each(function (inputIdx, inputField) {
                $(draftData).each(function (draftDataIdx, draftDataField) {
                    for (idx in draftData) {
                        if (inputField.name === draftDataField.name) {
                            if (inputField.type === "checkbox") {
                                $(inputField).prop('checked', true);
                            }
                            inputField.value = draftDataField.value;
                        }
                    }
                });
            });
        };

        var groupFieldSets = function () {

            fieldsets = {}

            $('#awesome > .form-group').each(function (idx, formGroup) {
                var inputField = $(formGroup).find(".form-field").children()[0];
                if (inputField.dataset.fieldset) {
                    fieldsets[inputField.dataset.fieldset] = fieldsets[inputField.dataset.fieldset] || $("<fieldset><legend>" + inputField.dataset.fieldset + "</legend></fieldset>")
                    fieldsets[inputField.dataset.fieldset].append(formGroup)
                }
            });
            $.each(fieldsets, function (key, value) {
                {#                $("#awesome").append(value)#}
                value.insertBefore($("input[type='submit']"))
                {#                value.insertBefore($("#awesome :last-child"))#}
                console.log(key + ": " + value);
            });
        };

        // todo: any sensitive data?
        // todo: dont notify if save failed due to invalid data

        $(document).ready(function () {

            $('#awesome :input').focusout(function () {
                saveDraft();
            })

            populateWithLocalData();

            $(".alert").hide();
            $(".alert").alert();
            $("form li").addClass("form-group");
            $("form>div input[type='text']").addClass("form-control");
            $("form>div select").addClass("form-control");
            $("form>div textarea").addClass("form-control");
            $("form>div>label").addClass("col-sm-3 control-label");
            groupFieldSets();
        });
    </script>

    <h1>{{ form.title }}</h1>

    {% if form.intro %}
        <div class="row">
            <div class="col-sm-8">{{ form.intro }}</div>
        </div>
        <hr/>
    {% endif %}
    <div class="row">
        <form id="awesome" class="form-horizontal" action="{{ form.get_absolute_url }}?track_id={{ form_for_form.track.id }}" method="post" role="form"
              {% if form_for_form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}
            {#        {{ form_for_form.as_p }}#}
            {% for field in form_for_form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }}

                    <div class="col-sm-5 form-field">
                        {{ field }}
                    </div>
                    {% if field.help_text %}
                        <div class="form-field" style="height: 22px">
                            <span class="rchover glyphicon glyphicon-question-sign">
                                <span class="rctooltip">{{ field.help_text }}</span>
                            </span>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div style="clear:left;">&nbsp;</div>
            <input type="submit" value="{{ form.button_text }}">
        </form>
    </div>
{% endblock %}
